body{
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  color: #999999;
}

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  background: orange;
}